<section>
  <div>
    <div>
      <h3>Assortment</h3>
      <h2>Explore Our Delicious Organic Product Range</h2>
    </div>
    <ul>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4>Organic Gala Apples</h4>
          <p>Juicy, crisp, and sweet apples grown without pesticides.</p>
        </div>
        <div>
          <p>&#36;3.50</p>
          <p>per 1 pound</p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <p>&#36;</p>
          <p></p>
        </div>
        <button type="button">Add to cart</button>
      </li>
    </ul>
  </div>
</section>
